---
layout: page
---
{% if page.logo_url %}
<div align='center' class="p-4" style="background-color: {{ page.background-color }}">
    <img class="image image--xl p-4" src="{{ page.logo_url }}"/>
</div>
{% endif %}
<br>
<div class="grid-container">
    <div class="grid">
        <div class="cell cell--auto">
            <div class="button button--primary button--rounded button--xl m-1">
                {{ page.version }}
            </div>
        </div>
        <div class="cell cell--shrink">
            <a class="button button--warning button--pill button--xl m-1" href="{{ page.platform_url }}" target="_blank" rel="noopener noreferrer">
                <i class="fas fa-link"> </i> {{ page.platform_url | replace: 'https://', '' }}
            </a>
            {% if page.source_url %}
            <a class="button button--info button--pill button--xl m-1" href="{{ page.source_url }}" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github"> </i> Source
            </a>
            {% endif %}
        </div>
    </div>
    <h2>Key metrics</h2>
    <div class="grid grid--p-3">
        <div class="cell cell--12">
            <div class="button button--secondary button--rounded button--xl m-2">
                <i class="fas fa-user">
                    {{ page.users_count }} users
                </i>
            </div>
        </div>
        <div class="cell cell--6">
            <div class="button button--secondary button--rounded button--xl m-2">
                <i class="fas fa-stream">
                    {{ page.processes_count }} processes
                </i>
            </div>
        </div>
        <div class="cell cell--6">
            <div class="button button--secondary button--rounded button--xl m-2">
                <i class="fas fa-users">
                    {{ page.assemblies_count }} assemblies
                </i>
            </div>
        </div>
        <div class="cell cell--6">
            <div class="button button--secondary button--rounded button--xl m-2">
                <i class="fas fa-hand-paper">
                    {{ page.proposals }} proposals
                </i>
            </div>
        </div>
        <div class="cell cell--6">
            <div class="button button--secondary button--rounded button--xl m-2">
                <i class="fas fa-hand-peace">
                    {{ page.accepted_proposals }} accepted proposals
                </i>
            </div>
        </div>
        <div class="cell cell--6">
            <div class="button button--secondary button--rounded button--xl m-2">
                <i class="fas fa-comment">
                    {{ page.comments_count }} comments
                </i>
            </div>
        </div>
        <div class="cell cell--6">
            <div class="button button--secondary button--rounded button--xl m-2">
                <i class="fas fa-comment">
                    {{ page.debates }} debates
                </i>
            </div>
        </div>
        <div class="cell cell--6">
            <div class="button button--secondary button--rounded button--xl m-2">
                <i class="fas fa-calendar">
                    {{ page.meetings }} meetings
                </i>
            </div>
        </div>
        <div class="cell cell--6">
            <div class="button button--secondary button--rounded button--xl m-2">
                <i class="fas fa-clipboard">
                    {{ page.survey_answers }} survey answers
                </i>
            </div>
        </div>
        <div class="cell cell--6">
            <div class="button button--secondary button--rounded button--xl m-2">
                <i class="fas fa-tasks">
                    {{ page.results }} results
                </i>
            </div>
        </div>
        <div class="cell cell--6">
            <div class="button button--secondary button--rounded button--xl m-2">
                <i class="fas fa-vote-yea">
                    {{ page.votes }} supports
                </i>
            </div>
        </div>
        <div class="cell cell--6">
            <div class="button button--secondary button--rounded button--xl m-2">
                <i class="fas fa-thumbs-up">
                    {{ page.endorsements }} endorsements
                </i>
            </div>
        </div>
    </div>
  </div>
</div>
<br>
